@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Sen:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(7, 37, 51);
  padding: 1.5rem;
}

.logo {
  margin-bottom: 4rem;
}

img {
  display: block;
}

.girl1 {
  transform: translate(14rem, -9rem);
}

h1 {
  font-family: "Sen", sans-serif;
  color: rgb(53, 246, 188);
  font-size: 3.5rem;
  transform: translate(0, -12.5rem);
}

p {
  font-family: "Inter", sans-serif;
  color: rgb(154, 175, 186);
  font-size: 1.5rem;
  line-height: 2rem;
  transform: translate(0, -10rem);
}

.button {
  background-color: rgb(53, 246, 188);
  font-family: "Inter", sans-serif;
  color: rgb(7, 37, 51);
  border: none;
  padding: 1.5rem 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 5px;
  transform: translate(0, -8rem);
}

.girl2 {
  position: absolute;
  z-index: -1;
  width: 45%;
  transform: translate(13rem, -9rem);
}

p:last-of-type {
  transform: translate(4rem, 5rem);
}

.twitter {
  transform: translate(0, 7.5rem);
}

/* MOBILE MEDIA QUERY */

@media screen and (max-width: 425px) {
  .girl4,
  .girl3,
  .guy2 {
    display: none;
  }
}

/* TABLET MEDIA QUERY */

@media screen and (425px < width < 1024px) {
  body {
    padding: 2rem 2rem;
  }

  h1 {
    font-size: 6.5rem;
    transform: translate(0, -18rem);
  }

  .guy {
    width: 17%;
    transform: translate(1rem, -3rem);
  }

  .girl1 {
    transform: translate(33rem, -20rem);
  }

  .girl4 {
    width: 17%;
    transform: translate(27rem, -3rem);
  }

  .girl3 {
    transform: translate(36rem, -32rem);
  }

  p {
    width: 70%;
    transform: translate(0, -23rem);
  }

  .button {
    transform: translate(0, -21rem);
  }

  .girl2 {
    width: 19%;
    transform: translate(32rem, -53rem);
  }

  .guy2 {
    transform: translate(25rem, -23rem);
  }

  .twitter {
    transform: translate(0, -27rem);
  }

  p:last-of-type {
    transform: translate(4rem, -29.5rem);
  }
}

/* DESKTOP MEDIA QUERY */

@media screen and (min-width: 1040px) {
  body {
    padding: 2rem 7rem;
  }

  .guy {
    transform: translate(-5rem, 0);
  }

  .girl1 {
    transform: translate(61rem, -20rem);
  }

  .girl4 {
    transform: translate(50rem, -10rem);
  }

  h1 {
    font-size: 9.5rem;
    transform: translate(1rem, -26rem);
    width: 75%;
    line-height: 9rem;
  }

  p {
    width: 30%;
    transform: translate(0, -23rem);
  }

  .button {
    transform: translate(0, -21rem);
  }

  .girl2 {
    width: 6%;
    transform: translate(38rem, -53.5rem);
  }

  p:last-of-type {
    transform: translate(4rem, -34.5rem);
  }

  .twitter {
    transform: translate(0, -32rem);
  }

  .girl3 {
    position: absolute;
    z-index: -1;
    transform: translate(64rem, -31rem);
  }

  .guy2 {
    transform: translate(55rem, -25rem);
  }
}
